.main-div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://images8.alphacoders.com/841/841718.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.login-form{
    min-width: 150px;
    max-width: 300px;
    width: 100;;
}
  
.example-full-width {
    width: 100%;
}

h1{
    margin-left: 115px; 
}

p{
    margin-left: 135px;
}

.botonGoogle {
    background-color: red;
}

